<?php $this->append('top_bar'); ?>
  <div class="row justify-content-md-center">
    <div class="col col-md-10">
        <h2>Editar produto</h2>
    </div>
  </div>
<?php $this->end(); ?>

<?php echo $this->element('form_plans'); ?>
